{% extends "index.html" %}
{% block Lista %}
<h1>Lista de usuarios</h1>
{% if usuarios %}
<table>
    <tr>
        <td>Nombre Usuario</td><td>Correo</td><td>perfil</td>
    </tr>
    {% for u in usuarios %}
    <tr>
        <td>{{u.user.username}}</td><td>{{u.user.email}}</td><td>{{ u.perfil}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No hay usuarios registrados</h2>
{% endif %}
{% endblock %}
{% block Formulario%}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Agregar Usuario</button>
</form>
{% endblock %}
