{% extends 'registration/base/base.html' %}


{% block content %}
  {% if validlink %}
  <div class="col-lg-6 mx-auto">
    <h3>Ingrese su nueva contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-secondary "type="submit">cambiar contraseña</button>
    </form>
  </div>
  {% else %}
    <p>
      El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado.
      Por favor, solicite un nuevo restablecimiento de contraseña
    </p>
  {% endif %}
{% endblock %}
